<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>grades</title>
    <link rel="icon" type="image/png" href="/favicon/study_icon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <script defer src="/assets/theme.js"></script>
    <script src="/assets/grades.js" defer></script>


</head>
<body>
<header>
    <nav>
        <a href="/todo">Lernplan</a>
        <a href="/subjects">Zurück zur Übersicht</a>
        <a href="/auth/login">Abmelden</a>

        <label class="theme-toggle">
            <input type="checkbox" id="toggle">
            <span class="slider round">
                <div class="background"></div>
                <div class="star"></div>
                <div class="star"></div>
            </span>
        </label>

    </nav>
</header>
<main>
    <div id="list-box">
        <div id="grade-list">
        </div>
    </div>
    <div id="graph-box">
        <div id="graph"></div>
    </div>
</main>

<footer>
    <p>© 2026 Lernhilfe - Studienprojekt der DHBW Ravensburg</p>
    <a href="/impressum">Impressum</a>
    <a href="/datenschutz">Datenschutzerklärung</a>
</footer>
</body>
</html>