<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>subjects</title>
    <link rel="icon" type="image/png" href="/favicon/study_icon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <script defer src="/assets/theme.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
            <a href="/about">About</a>
            <label class="theme-toggle">
                <input type="checkbox" id="toggle">
                <span class="slider round">
                    <div class="background"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </span>
            </label>
        </nav>
    </header>


    <main class="impressum maxWidthAddon">
        <h1>Impressum</h1>

        <section>
            <h2>Angaben gemäß § 5 DDG</h2>
            <p>
                Christian hartmann<br>
                Fallenbrunnen 2<br>
                88045, Friedrichshafen<br>
                Deutschland
            </p>
            <p>
                E-Mail: hartmann.chris-it24@it.dhbw-ravensburg.de
            </p>
        </section>

        <section>
            <h2>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV</h2>
            <p>
                Christian Hartmann<br>
                Fallenbrunnen 2<br>
                88045, Friedrichshafen<br>
                Deutschland
            </p>
        </section>

        <section>
            <h2>Projektteam</h2>
            <p>
                Dieses Projekt wurde im Rahmen einer Lehrveranstaltung als
                nicht-kommerzielles Studienprojekt entwickelt.
            </p>
            <p>
                Projektteam: Kilian Vogler, Robert Koller, Christian Hartmann
            </p>
        </section>
    </main>


    <footer>
        <p>© 2026 Lernhilfe - Studienprojekt der DHBW Ravensburg</p>
        <p>Projektteam: Kilian Vogler, Robert Koller, Christian Hartmann</p>
        <a href="/datenschutz">Datenschutzerklärung</a>
    </footer>
</body>
</html>
