<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>subjects</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script defer src="/assets/theme.js"></script>
    <script src="/assets/subjects.js" defer></script>


</head>
<body>
<header>
    <nav>
        <a href="google.com">Notenübersicht</a>
        <a href="/todo">Lernplan</a>
        <a href="/auth/login">Abmelden</a>

        <label class="theme-toggle">
            <input type="checkbox" id="toggle">
            <span class="slider round">
                <div class="background"></div>
                <div class="star"></div>
                <div class="star"></div>
            </span>
        </label>

    </nav>
</header>
<main>
    <div class="top-banner">
        <h1>Hallo <%= currentUser ? currentUser.prename + ' ' + currentUser.lastname : 'Nutzer' %></h1>
        <form id="addSubjectForm" action="/subjects/add" method="POST" class="hidden">
            <input type="text" name="name" placeholder="Fachname" required>
            <button id="addSubjectBtn" type="submit">Erstellen</button>
        </form>
        <button id="inBtn">Neues Fach hinzufügen</button>
    </div>

    <div class="subjectsContent gridAddon">
        <% subjects.forEach(subject => { %>
            <a href="/subjects/<%= subject.id %>" class="subject">
                <%= subject.name %>
            </a>
        <% }) %>
    </div>
</main>
<footer>

</footer>
</body>
</html>