<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>timer</title>
    <link id="theme-style" rel="stylesheet" href="/assets/subjectdark.css">
    <script defer src="/assets/theme.js"></script>
    <script defer src="/assets/timer-logic.js"></script>

</head>
<body>
    <header>
        <nav>
            <a href="google.com">Erste</a>
            <a href="google.com">Google</a>
            <a href="google.com">Google</a>
            <a href="google.com">Google</a>

            <label class="theme-toggle">
                <input type="checkbox" id="toggle">
                <span class="slider round">
                  <div class="background"></div>
                  <div class="star"></div>
                  <div class="star"></div>
                </span>
            </label>

        </nav>
    </header>
    <section id="main-timer-page">
        <div id="timer-box">
            <h1 id="timer">
            </h1>
            <div id="timer-button">
                <button></button>
                <button></button>
            </div>
        </div>
    </section>
<footer>

</footer>
</body>
</html>